/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}

/* Button */
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border: 1px solid #5969fd;
    color: white;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #5969fd;
    border: none;
}

.img {
    width: 100%;
    max-width: calc(560em / 16);
    /* max-height: calc(210em / 16); */
    object-fit: cover;
    border-radius: 8px;
    background-color: gray;
}

/* Section */
.section,
.section--left,
.section--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
    gap: 8px;
    width: 100%;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    max-width: 680px;
}

.section--left,
.section--right {
    text-align: left;
}

@media screen and (min-width: 992px) {
    .section--right,
    .section--left {
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        margin: 0;
        gap: 32px;
    }

    .section--left p,
    .section--right p {
        max-width: 680px;
        width: 100%;
    }

    .section--left img,
    .section--right img {
        flex-shrink: 0;
    }

    .section--left p {
        order: 1;
    }
}

/* urban Farming 2023 */
.Hero * {
    z-index: 1;
}

.Hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    width: 100%;
    height: 100%;
    min-height: 812px;
}

.Hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bbf9b359;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.5;
}

.Hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.Hero__logo {
    width: 160px;
    height: 164.89px;
}

.Hero__heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
}

.Hero__heading h1 {
    font-family: "Bungee", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
}

.Hero__heading--purple {
    color: #5969fd;
}

.Hero__heading--green {
    color: #b7f5af;
}

.Hero__heading h2 {
    font-family: "Inknut Antiqua", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 62px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
}

.Hero__footer {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
}

/* Gallery */
.gallery {
    --image-width: calc(4 * 90em / 16);
    --image-height: calc(3 * 90em / 16);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Hind Madurai";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 8px;
    justify-content: center;
    line-height: 22px;
    margin: 0 auto;
    padding: 20px 16px;
    text-align: left;
    width: 100%;
}

.gallery__text {
    max-width: 680px;
}

.gallery__display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: inherit;
    /* max-width: calc(3 * var(--image-width) + 2 * 8px); */
    width: 100%;
}

.gallery__display img {
    width: var(--image-width);
    height: var(--image-height);
    object-fit: cover;
    border-radius: 8px;
    background-color: gray;
}

/* Berita type page */
#postList > .alert-message h4 {
    border: 2px solid gray;
    font-family: "Bungee", cursive;
    border-radius: 0.8rem;
}

#postList > .alert-message h4 a {
    display: inline-block;
    padding: 2em 1em;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#postList > .alert-message h4 a:hover {
    color: white;
    background: #399d6d;
}

/* Removes ugly children */
div#postList > .alert-message > :nth-child(n + 2) {
    display: none;
}

/* HOME PAGE */
/* prefix with home- */

/* Colors */
:root {
    --black: #1b1b1b;
    --gray: #1b1b1b99;
    --green: #b4fe98;
    --orange: #fe6244;
    --violet: #998ceb;
}

.text__green {
    color: var(--green);
}

.text__orange {
    color: var(--orange);
}

.text__violet {
    color: var(--violet);
}

.text_black {
    color: var(--black);
}

.text__gray {
    color: var(--gray);
}

/* general typography */
.text__h1 {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100px;
    color: var(--black);
}

.text__h2 {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: var(--black);
}

.text__h3 {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
}

.text__body {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--black);
}

/* specific coomponents */
.home-stack {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    overflow: hidden;
}

/* highlights */
.highlight {
    position: relative;
    display: inline-flex;
    align-items: end;
    justify-content: center;
    width: max-content;
}

.highlight::before {
    content: "";
    position: absolute;
    height: 42%;
    width: 110%;
    background: var(--green);
    z-index: -1;
}

/* section */
.home-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 30px;
    gap: 60px;
    max-width: 1280px;
}

.home-section header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

/* hero */
.home-hero {
    padding: 60px 30px 0 30px;
    max-width: 800px;
    width: 100%;
    position: relative;
}

.home-hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 315px;
}

.decor__waved-cactus {
    position: absolute;
    width: 280px;
    height: 280px;
    right: -96.46px;
    top: 28.23px;
    transform: rotate(-15deg);
    z-index: -1;
}

/* banner */
.home-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    width: 100%;
    position: relative;
    padding: 0 27.5px;
}

.home-banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: -1;
    background: var(--green);
}

.home-banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 52px;
    max-width: 640px;
    width: 100%;
}

.home-banner__logo {
    width: 200px;
    height: 203.73px;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.4));
}

.home-banner__photo {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

/* Principal greeting */
.home-principal-greeting {
    display: grid;
    grid-template-areas:
        "header"
        "photo"
        "text"
        "decor";
}

@media screen and (min-width: 992px) {
    .home-principal-greeting {
        grid-template-areas:
            "header header"
            "photo text"
            "decor text";
        grid-auto-rows: min-content;
    }

    .home-principal-greeting header {
        grid-area: header;
    }

    .principal-photo {
        grid-area: photo;
    }

    .home-principal-greeting p {
        grid-area: text;
    }

    .decor__hello {
        grid-area: decor;
    }
}

.principal-photo {
    width: 315px;
    justify-self: center;
}

.principal-photo img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

.principal-photo p {
    background-color: var(--orange);
    padding: 8px 24px;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 54px;
    margin-top: -40px;
    z-index: 2;
    position: relative;
}

.decor__hello {
    width: 100%;
    height: 360px;
    object-fit: contain;
}
